<div class="admin-title">
  <h2>Add New Item</h2>
  <a href="/dashboard" class="btn">&larr; Back</a>
</div>

<form action="/add-post" method="POST" enctype="multipart/form-data">

  <label for="title"><b>Item</b></label>
  <input type="text" placeholder="eg. 'Red Jacket'" name="title">

  <label for="body"><b>Tags</b></label>
  <textarea name="body" cols="50" rows="10" placeholder="eg. 'jacket', 'blue', 'wa-apparel', 'no-name'"></textarea>

  <input for="image" type="file" name="imgfile" accept="image/jpeg" id="imgFile">
  <!-- <div class="" id="images"></div> -->
  <input type="submit" id="submitButton" value="Add" class="btn">

  <!-- <script src="../submit.js"></script> -->
  
</form>