<h1>About this site</h1>
<article class="article">
This website was made by FlimJam for Westlake Academy. FlimJam believed that the previous lost and found system (a google doc) could be fixed and made more efficient, so he got to work. Originally, it was his personal project for 10th grade, but after 1.5 years of learning how to be a better noob, he created this masterpiece. Behold his debut.
</article>