<div class="admin-title">
  <h1>Contact</h1>
  <a onclick="window.history.back()" class="btn">&larr; Back</a>
</div>

<form action="https://api.web3forms.com/submit" method="POST">

  <input type="hidden" name="access_key" value="<%= apiKey %>">
  <input type="hidden" name="subject" value=`${name} sent a message`>
  <input type="hidden" name="redirect" value="/">


  <label for="name"><b>Name</b></label>
  <input type="text" placeholder="eg. 'Jane Doe'" name="name" required>

  <label for="email"><b>Email</b></label>
  <input type="text" placeholder="eg. 'janedoe@domain.com'" name="email" required>

  <textarea name="body" placeholder="Questions, Comments, Concerns?"></textarea>

  <div class="h-captcha" data-captcha="true"></div>

  <input type="submit" id="submitButton" value="Contact" class="btn">

  
</form>

<script src="https://web3forms.com/client/script.js" async defer></script>