<div class="admin-title">
  <h1><%= data.title %></h1>
  <a href="/" class="btn">&larr; Back</a>
</div>
<article class="article">
  <img src="/imgs/<%= data.imagePath %>" alt="" class="post-image">
  <%= data.body %>
</article>