<div class="admin-title">
  <h1><%= data.title %></h1>
  <a onclick="window.history.back()" class="btn">&larr; Back</a>
</div>
<article class="article">
  <img src="/image-uploads/<%= data.imagePath %>" alt="" class="post-image">
  <%= data.body %>
</article>